:root {
  font-size: 16px;
   }

body {
  margin: 0;
  padding: 0; }


.container {
  display: flex;  
  flex-direction: column;
  margin-left : 13.5vw; 
  margin-right: 3vw;
  
  }

  .sidenav {

     border: 1px solid #35eea4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #2c2c2c;
     border-top-right-radius: 7px;
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 3vw;
    background-image: url('sidenav-background.png');
    
}

  .sidenav .my-name a {
    
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 4vw;
    color: #4d004d;

  }
  .sidenav .my-name a:hover {
    color: #002b80;
    background-color: #f2e6ff ;
  }

   .my-designation {
    
    font-size: 1.7vw;
   padding: 2px 2px 10px 5px;
   border-bottom: 1px solid black;

  }
.sidenav a {

    padding: 6px 16px 6px 10px;
    text-decoration: none;
    font-size: 1.5vw;
    color: grey;
    display: list-item;
    font-family: 'Istok';
    
}

.sidenav a:hover {
    color: #ffffff ;
    background-color: #b3daff;

}


.banner .card {

  background-image: url('bg-image.png');
  background-size: cover;
  background-repeat: no-repeat;

  
  border: 2px solid #2c2c2c;
  border-radius: 10px;
  height: 100%;
  display: flex;
    flex-direction: column;

  }
  .banner .card .heading {
    
    font-family: 'Rajdhani';
    font-size: 3rem;
    font-weight: 1200;

    margin-bottom: 50vh;
    padding: 5vw;
    color: #f2f2f2;
    text-shadow: currentColor;
     }

.row {
  display: flex;

  
  margin-top: 5vh; 
}
.head {
  width: 80vw;
  border: 1px solid #35eea4;
  border-radius: 10px;
  background-color: #4d004d;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  font-stretch: expanded;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  color: white;
  margin-left: 5vw;
}
.about {
  width: 100%;
  border: 1px solid #35eea4;
  border-radius: 10px;
  background-color: #4d004d;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  font-stretch: expanded;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  color: white;

}

  .row .my-image {
    border: 1px solid #35eea4;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    flex-direction: all;
    width: 25vw;
    align-content: flex-end;
    margin-left: 5vw;
    margin-bottom: 5vw;
    
  }

.about-class {
  
  color: #2c2c2c;
  font-family: 'Rajdhani', cursive;
  margin-left: 5vw;
  font-size: 1.5rem;
  width: 50%;
}

.menu-banner {
  margin-left: 7vw;
  height: 100%;
  width: 80%;
  color: #b32d00;
  border: 1px solid black;
  box-shadow: 0px 3px 20px 2px #2c2c2c;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f3e6ef;
  font-size: 1.2rem;
}
.menu-class {
  
  color: #2c2c2c;
  font-family: 'Rajdhani', cursive;
  margin-left: 5vw;
  font-size: 1.5rem;
  width: 100%;
  color: red;
}

.icon-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px; 
  margin-left: 7vw;}
  .icon-group .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px; }

	.margin {
    margin-left: 7vw;
  }
/* when screen size is less than 900px, the sidenav menu will not be displayed for a clean look of the page*/
@media only screen and (max-width: 900px)
{
  .container
  {
    margin-left: 5vw;

  }
	.banner .card {
		background-size: cover;
		position:relative;
    background-repeat: no-repeat;
    height: 80vh;

		}
.banner .card .heading {
  margin-top: 40vh;
  margin-bottom:10vh; 
     }

	.about-class{
	width: 90%

	}
  .row {
    flex-direction: column;
  }
 
  .row .my-image{
    width: 60vw;
	
  }


  .sidenav {
    visibility: hidden;
  } 
}
